@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

:root {
    --prizma-bg: #000000;
    --prizma-surface: #121212;
    --prizma-border: #2c2c2c;
    --prizma-accent: #335bff;
    --prizma-text-secondary: #a1a1a1;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000000;
    color: #ffffff;
}
